:root {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
  
    background-image: url("src/assets/sistema-solar.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }
}


  /*--------------------------------estilos del contenido--------------------------------*/

h1{
    font-size: 50px;
    text-align: center;
 }

h2{
    font-size: 35px;
    text-align: center;
}

h3{
    font-size: 29px;
 }

p{
    font-size: 20px;
 }
